# Byte-compiled
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Packaging
.idea/
build/
dist/
*.egg-info/
*.egg

# Environments
.env
.venv
env/
venv/

# Data files
*.parquet

# Cython debug symbols
cython_debug/

.DS_Store